* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body {
	font-size: 18px;
}

nav {
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}

header {
	background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

img {

}

footer {
	background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}

/*#classic {
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
    width: 40em;
}

#creations {
    background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
    width: 40em;
}*/


#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: #E582A2;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 55%
}

#right {
    background-color: #E55B88;
    border: 1px black solid;
    padding: 20px;
    float: right;
    width: 39%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.wrapper {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

